[Unit]
Description=Advanced key-value store (Valkey)
After=network.target

[Service]
Type=forking
ExecStart=/usr/local/bin/valkey-server /etc/valkey/valkey.conf --daemonize yes
ExecStop=/usr/local/bin/valkey-cli shutdown
TimeoutStopSec=0
Restart=always
User={{ valkey_user }}
Group={{ valkey_group }}
RuntimeDirectory=valkey
RuntimeDirectoryMode=0755
WorkingDirectory={{ valkey_dir }}

[Install]
WantedBy=multi-user.target
